@model Student;
<h1>Create a new Student</h1>

<form asp-action="AddStudent" asp-controller="Student" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="StudentProfilePhoto"></label>
        <input type="file" class="form-control" asp-for="StudentProfilePhoto"/>
    </div>

    <div class="form-group">
        <label asp-for="FirstName">FirstName</label>
        <input asp-for="FirstName" class="form-control" id="FirstName"/>
    </div>

    <div class="form-group">
        <label asp-for="LastName">LastName</label>
        <input asp-for="LastName" class="form-control" id="LastName"/>
    </div>

    <div class="form-group">
        <label asp-for="Course">Course</label>
        <input asp-for="Course" class="form-control" id="Course"/>
    </div>

    <div class="form-group">
        <label asp-for="DateEnrolled">DateEnrolled</label>
        <input asp-for="DateEnrolled" class="form-control" id="DateEnrolled"/>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" id="Email"/>
    </div>

    <div class="form-group">

        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" id="PhoneNumber"/>

    </div>

    <button type="submit" class="btn btn-primary"> Save</button>


</form>
