@model Student;
<h1>Update a Student</h1>

<form asp-action="UpdateStudent" asp-controller="Student" method="post">

    <div class="form-group">
        <label asp-for="FirstName">FirstName</label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LastName">LastName</label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Course">Course</label>
        <input asp-for="Course" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DateEnrolled">DateEnrolled</label>
        <input asp-for="DateEnrolled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary"> Save</button>


</form>
